@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Outfit', sans-serif;
}

:root {
  --bg-color: #1b0009;
  --second-bg-color: #2f0711;
  --text-color: #fff;
  --main-color: #de3163;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: var(--main-color);
}

body {
  background: #000; /* Set background color to black */
  margin: 0 5% 0 5%;
  padding: 0 5% 0 5%;
}

/* NavLink automatically adds active class */
.active {
  display: inline-block;
  border-bottom: 2px solid var(--main-color);
  font-weight: 600;
  cursor: pointer;
}

h1,
h4,
p,
a {
  color: #fff;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.btn {
  display: inline-block;
  margin: 0 2rem;
  padding: 0.5rem 2rem;
  background: var(--main-color);
  border-radius: 4rem;
  box-shadow: none;
  font-size: 1.4rem;
  color: var(--bg-color);
  font-weight: 601;
  transition: 0.6s ease;
  cursor: pointer;
}

.btn-light {
  background: transparent;
  color: #fff;
  border: 1px solid var(--main-color);
  display: inline-block;
  margin: 0 2rem;
  padding: 0.5rem 2rem;
  border-radius: 4rem;
  font-size: 1.4rem;
  font-weight: 600;
  transition: 0.6s ease;
  box-shadow: 0 0 1rem var(--main-color);
  cursor: pointer;
}

.btn:hover {
  box-shadow: 0 0 1rem var(--main-color);
}

.btn-light:hover {
  box-shadow: none;
}

@media (max-width: 768px) {
  .btn {
    margin: 0.2rem 2rem;
    padding: 0.1rem 0.8rem;
  }
  .btn-light {
    margin: 0.2rem 2rem;
    padding: 0.1rem 0.8rem;
  }
}
